# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/ # Your virtual environment directory
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.nox/

# Distribution / Build
dist/ # <--- CRUCIAL: Exclude the distribution directory
build/
*.egg-info/
.eggs/

# IDEs
.idea/ # PyCharm
.vscode/ # VS Code (if you have project-specific settings you don't want to share)
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store # macOS
Thumbs.db # Windows

# Django specific
*.log
*.sqlite3 # SQLite database file if used locally for dev
media/
static/